@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family:'Mulish', sans-serif;
}

:root{
    --padding : calc(((100% - 1110px)/2));
    --nav-width : calc(100% - 40%);
}

.pri-btn{
    font-family:'Mulish', sans-serif;
    font-weight: 700;
    background-color: #3C64B1;
    border: none;
    color: #fff;
    line-height: 18px;
    letter-spacing: 0.3px;
    padding: 12px 18px;
    transition: 0.3s;
}

.pri-btn:hover{
    cursor: pointer;
    background-color: #2f508e;
}