/* Tablet */
@media screen and  (min-width: 856px) and (max-width: 1023px){
    .header{
        padding: 0 1.5rem;
        height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .body_info{
        padding: 0 15px;
    }
    .service_item{
        max-width:33.333%;
        flex-basis: 33.333%;

    }
    .service_item1_1{
        margin-right: 30px;
    }

     /* content 1 */
    .body_content1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .content_img{
        flex-basis: 50%;
    }
    .content_img1_1{
        margin-right: 30px;
    }
    .content_img img {
        width: 100%;
    }
    .content_des{
        width: 455px;
        flex-basis: 50%;
        margin-left: unset;
    }

    .content_title{
        font-size: 2.4rem;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .content_info{
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.3px;
        margin-bottom: 20px;
        color: #737B7D;
    }
    .content_des_input{
        margin-bottom: 16px;
        display: flex;
    }
    .content_des_input input{
        width: 29.5rem;
        padding: 5px 8px;
        font-size: 1.8rem;
        outline: none;
        margin-right: 24px;
    }
    
    .content_info2{
        font-size: 1.2rem;
        line-height: 16px;
        color: #737B7D;
    }


    /* content 2 */
    .body_content2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }
    .content_infomations{
        display: flex;
        justify-content: space-between;
    }
    .info{
        max-width:100%;
        flex-basis: 50%;
    }

    .info_text{
        font-size: 1.6rem;
        line-height: 22px;
        color: #737B7D;
    }

    /* content 3 */
    .content_item img{
        width: 100%
    }
    .content_item{
        flex-basis: 25%;
    }
    .item_title{
        color: #373F41;
        font-size: 1.8rem;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
    .item_text{
        color: #373F41;
        font-size: 1.4rem;
        line-height: 20px;
        letter-spacing: 0.2px;
    }

}
/* Mobile */
    @media screen and (max-width: 739px){
    
    .menu_btn{
        display: block;
        position: absolute;
        right: 10px ;
        top: 15px;

    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(200, 200, 200);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 35px;
        text-decoration: none;
        font-size: 25px;
        color: #373F41;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
    .header{
        display: flex;
        align-items: center;
        padding: 0 1rem;
        height: 88px;
    }

    .nav_menu{
        display: block;
        font-size: 40px;
        top: 15px;
        right: 10px;
        position: absolute;
    }
    .header_logo{
        margin: 26px auto 19px; 
        line-height: 80px;
    }
    .header_logo > img{
        width: 50px;
        height: 33px;
    }
    .header_nav-link{
        display: flex;
        flex-direction: column;
        line-height: 18px;
        letter-spacing: 0.2px;
        display: flex;
        list-style: none;
        font-size: 1.2rem;
        font-style: bold;
        margin-bottom: 20px;
    }
    .header_link-item{
        margin-right: 25px;
    }
    .header_nav-btn{
        border: none;
        background-color: #fff;
        padding: 10px 0;
        font-size: 1.4rem ;
        margin-right: unset;
    }
    .header_nav-btns{
        display: flex;
        flex-direction: column;
    }
    .pri-btn{
        background-color: #3C64B1;
        border: none;
        color: #fff;
        line-height: 18px;
        letter-spacing: 0.3px;
        padding: 12px 15px;
        font-size: 1.4rem;
        margin-top: 10px;
    }
    .hero_description{
        position: absolute;
        width: 100%;
        padding: 8px;
        height: 286px;
        text-align: center;
    }
    .background-img{
        width: 100%;
        height: 500px;
    }
    .des_title{
        line-height: 50px;
        font-size: 3rem;
        font-style: bold;
        letter-spacing: 0.2px;
        margin-bottom: 32px;
    }

    .des_control{
        width: unset;
    }
    .control_btn2{
        padding: 12px 15px;
        font-size: 1rem;
    }
    .body_title{
        margin: 60px auto 35px;
        width: 100%;
        padding: 8px;
        height: 86px;
        text-align: center;

    }
    .title2{
        font-size: 1.6rem;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: #737B7D;
    }

    .body_info{
        padding: 0 1rem;
        margin-top: 90px;
    }
    .info_services{
        flex-direction: column;
    }
    .service_item{
        max-width:100%;
        flex-basis: 100%; 
    }
    .service_item1_1{
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .service_title{
        margin-top: 15px;
        margin-bottom: 8px;
        font-size: 1.8rem;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
    .service_des{
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 22px;
    }

    /* content1  */
    .body_content1{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 40px;
        flex-direction: column;
        flex-basis: 100%;
    }
    .content_img img {
        width: 100%;
    }
    .content_des{
        width: 100%;
    }
    .content_title{
        font-size: 1.8rem;
        line-height: 18px;
        margin-bottom: 14px;
        margin-top: 10px ;
        text-align: center;
    }
    .content_info{
        font-size: 1rem;
        line-height: 11px;
        margin-bottom: 8px;
        text-align: center;
    }
    .content_des_input{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .content_des_input input{
        padding: 5px 8px;
        font-size: 1.1rem;
        outline: none;
        margin-right: 24px;
    }
    .content_info2{
        text-align: center;
    }
    .mobile-btn{
        padding: 5px  5px;
        font-size: 0.5rem;
    }

    /* content 2 */
    .body_content2{
        margin-top: 10px;
        flex-direction: column-reverse;
    }
    .content_info2{
        font-size: 1rem;
        line-height: 11px;
        color: #737B7D;
    }

    .content_infomations{
        display: flex;
    }
    .info{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        flex-basis: 50%;
        align-items: center;
    }
    .info1_1{
        margin-right: 15px;
    } 
    .content_item img{
        width: 100%
    }
    
    .content_img1_1{
        margin-right: unset;
    }
    .content_item{
        flex-basis: 100%;
    }
    .info_text{
        font-size: 1.2rem;
        line-height: 13px;
        text-align: center;
    }
    .content_item_1{
        margin-right: unset;
        margin-bottom: 30px;
    }
    .item_title{
        color: #373F41;
        font-size: 1.8rem;
        line-height: 16px;
        letter-spacing: 0.1px;
        margin-bottom: 5px;
    }
    .item_text{
        color: #373F41;
        font-size: 1.2rem;
        line-height: 14px;
        letter-spacing: 0.2px;
    }
    .body_content3{
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 740px) and (max-width: 855px  ){
    .header{
        padding: 0 15px;
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .des_control{
        width: unset;
    }
    .body_info{
        padding: 0 15px;
    }
    /* body title */
    .body_title{
        margin: 60px auto 35px;
        width: 100%;
        height: 86px;
        text-align: center;
    }
    .info_services{
        width: 100%;
    }
    .service_item{
        text-align: center;
        max-width: 280px;
        height: 204px;
        padding-bottom: 12px;
    }

    /* services */
    .service_item{
        max-width:33.333%;
        flex-basis: 33.333%;
    }
    .service_item1_1{
        margin-right: 30px;
    }
    .info_services{
        margin-bottom: 80px;
    }
    /* body content 1   */
    .body_content1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    .content_img{
        flex-basis: 50%;
    }
    .content_img img {
        width: 100%;
    }
    .content_des{
        width: 455px;
        flex-basis: 50%;
        margin-left: unset;
    }
    .content_des2{
        margin-left: unset;
    }
    .content_title{
        font-size: 1.6rem;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .content_info{
        font-size: 1.2rem;
        line-height: 16px;
        margin-bottom: 20px;
    }
    .content_des_input{
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
    }
    .content_des_input input{
        width:100%;
        padding: 5px 8spx;
        font-size: 1.4rem;
        color: #737B7D;
        outline: none;
    }
    .pri-btn{
        line-height: 16px;
        letter-spacing: 0.3px;
        padding: 12px 18px;
        font-size: 1.4rem;
    }

    /* content 3  */
    .content_item img{
        width: 100%
    }
    .content_item{
        flex-basis: 25%;
    }
}  
