
/* header */
.header{
    padding: 0 var(--padding);
    height: 8.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.inner{
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

.sidenav{
    width: var(--nav-width);
    display: flex;
    align-items: center;
    justify-content: space-between;    
}  

.closebtn{
    display: none;
}
.menu_btn{
    display: none   ;
}
.nav_menu{
    display: none;
}
.header_logo{
    line-height: 88px;
}
.header_logo >a{
    display: flex;
}
.header_logo > img{
    width: 70px;
    height: 43px;
}
.header_nav-link a{
    text-decoration: none;
    color: #373F41;
}
.header_nav-link a:hover{
    color: #092352;
}
.header_nav-link{
    font-weight: 600 ;
    line-height: 18px;
    letter-spacing: 0.2px;
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    font-style: bold;   
}
.header_link-item{
    margin-right: 32px;
}
.header_link-item:hover{
    cursor: pointer;
    color: #325494;
}
.header_nav-btns{
    display: flex;

}
.header_nav-btn{
    font-size: 1.4rem;
    font-family:'Mulish', sans-serif;
    font-weight: 700;
    color: #3C64B1;
    border: none;
    background-color: #fff;
    padding: 12px 0;
    margin-right: 20px;
    transition: 0.3s;
}
.header_nav-btn:hover{
    cursor: pointer;
    color: #092352;
}

/* hero section */

.hero_description{
    position: absolute;
    width: 730px;
    height: 286px;
    text-align: center;
}
.hero_background{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-img{
    width: 100%;
    height: 560px;
}
.des_title{
    font-weight: 700;
    line-height: 56px;
    font-size: 4.4rem;
    font-style: bold;
    letter-spacing: 0.2px;
    margin-bottom: 32px;
    color: #373F41;
}
.des_title2{
    font-weight: 400;
    line-height: 22px;
    font-size:1.6rem;
    letter-spacing: 0.3px;
    color: #737B7D;
    margin-bottom: 56px;
}
.des_control{
    width: 275px;
    height: 42px;
    margin: auto;
}
.control_btn2{
    font-family:'Mulish', sans-serif;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #3C64B1;
    color: #fff;
    line-height: 18px;
    letter-spacing: 0.3px;
    padding: 12px 18px;
    color: #3C64B1;
    box-sizing: border-box;
    margin-left: 24px;
    transition: 0.3s;
}
.control_btn2:hover{
    background-color: #3C64B1;
    color: white;
    cursor: pointer;
}

/* body title */

.body_title{
    margin: 60px auto 35px;
    width: 920px;
    height: 86px;
    text-align: center;
}
.title1{
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 40px;
    letter-spacing: 0.1px;
    margin-bottom: 24px;
    color: #373F41;
}
.title2{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
}

/* body infomation */

.body_info{
    padding: 0 var(--padding);
}
.info_services{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 94px;
}
.service_item{
    text-align: center;
    max-width:33.333%;
    flex-basis: 33.333%;
    height: 204px;
    padding-bottom: 12px;
}
.service_item1_1{
    margin-right: 30px;
}
.service_img{
    width: 40px;
    height: 40px;
}
.service_title{
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 1.8rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #373F41;
}
.service_des{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 34px;
}
.service_label{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #3C64B1;
}

/* bodyy content1 */

.body_content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 108px;
}
.content_img{
    flex-basis: 50%;
}
.content_img1_1{
    margin-right: 30px;
}
.content_img img {
    width: 100%;
}
.content_des{
    width: 455px;
    flex-basis: 50%;
}
.content_title{
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 40px;
    margin-bottom: 32px;
}
.content_info{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin-bottom: 50px;
    color: #737B7D;
}
.content_des_input{
    margin-bottom: 16px;
    display: flex;
}
.content_des_input input{
    width: 295px;
    padding: 11px 14px;
    font-size: 1.4rem;
    color: #737B7D;
    outline: none;
    margin-right: 24px;
}
.content_info2{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 16px;
    color: #737B7D;
}

/* bodyy content2 */
.content_des2{
    margin-right: 30px;
}
.body_content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
}
.content_infomations{
    display: flex;
}
.info{
    max-width: 100%;
    flex-basis: 50%;
}
.info1_1{
    margin-right: 30px;
}
.info img {
    margin-bottom: 10px;
    width: 32px;
}

.content2_title{
    margin-bottom: 56px;
}
.info_text{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
    color: #737B7D;
}

/* body content 3  */
.body_content3{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content_item img{
    width: 100%;
}
.content_item{
    flex-basis: 25%;
    max-width: 100%;
    text-align: center;
}
.content_item_1  {
    margin-right: 30px;
}
.item_title{
    font-weight: 700;
    color: #373F41;
    font-size: 1.8rem;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.item_text{
    font-weight: 400;
    color: #373F41;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.2px;
}